@font-face {
  font-family: 'Conv_DJB Chalk It Up';
  src: url('/fonts/DJB-Chalk-It-Up.eot');
  src: local('☺'), url('/fonts/DJB-Chalk-It-Up.woff') format('woff'), url('/fonts/DJB-Chalk-It-Up.ttf') format('truetype'), url('/fonts/DJB-Chalk-It-Up.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

header .intro-text .intro-heading {
  font-family: 'Conv_DJB Chalk It Up';
}

body {
  font-family: 'Conv_DJB Chalk It Up';
  color: #FFF;
  background-image: url(../img/board-butterfly-catterpillar.jpg);
  background-repeat: repeat;
}

.bg-light-gray {
  background: none;
}

.navbar-brand {
  font-family: "Kaushan Script";
}

.navbar-default .navbar-brand {
  font-size: 40px;
}

.navbar-default.navbar-shrink .navbar-brand {
  font-size: 30px;
}

header .intro-text .intro-heading {
  font-size: 100px;
}

header .intro-text .intro-lead-in {
  font-size: 66px;
  padding: 0 0 10px 0;
}

.navbar-default .nav li a {
  font-size: 24px;
}