footer
  .container
    .row
      .col-md-4
        span.copyright mit
      .col-md-4
        ul.list-inline.social-buttons
          li
            a href="#"
              i.fa.fa-twitter
          li
            a href="#"
              i.fa.fa-facebook
          li
            a href="#"
              i.fa.fa-linkedin
      .col-md-4
        /ul.list-inline.quicklinks
          li
            a href="#" Privacy Policy
          li
            a href="#" Terms of Use