#post
  - if post.post_pictures.count == 0
  - else
    /a.magnific-popup-image title=post.title href=image_url(post.post_pictures[0].picture.url)
    img.post-pic title=post.title alt=post.title src=image_url(post.post_pictures[0].picture.url)
    .post-date = post.description
  .post-body
    a href=post_url(post)
      .post-title = post.title
    p = post.text
    /p.readmore
      a href="#" Read More