section#about
  .container
    .row
      .col-lg-9
        img#fotka_triedy.img-responsive alt="" height="676" name="fotka_triedy" src=image_url("fotka_triedy.jpg") usemap="#m_fotka_triedy" width="1001"
        map name="m_fotka_triedy"
          area shape="poly" alt="p. uč. Katka" coords="62,165,65,154,68,140,71,121,77,105,88,93,96,89,107,90,118,97,126,109,131,124,135,139,138,155,144,169,146,181,137,189,137,195,135,207,129,210,127,247,130,250,137,254,110,272,120,274,124,273,130,271,144,258,141,266,143,262,125,263,104,268,135,258,141,259,145,259,140,265,138,268,123,265,102,269,109,272,116,274,99,271,77,269,48,262,32,258,29,256,27,246,30,232,41,200,45,183,54,172,58,168,58,168"
      .col-lg-2
        #classroom
          ul.classroom
            li
              strong p. uč. Katka
            li Lia
            li Timka
            li Alžbetka
            li Alfík
            li Borisko
            li Marko
            li Samko L.
            li Vaneska
            li Dominik
            li Eliáško
            li Natálka
            li Samko S.
            li Dávidko
            li Hugo
            li Peťko
            li Timka S.
      .col-lg-3
        #nejakydiv


      /.col-lg-4.text-center
        img.pic-magnet alt="" src=image_url("magnetka-fialova.png")
        a.magnific-popup-image title="Nasratá Ela pýta granule." href=image_url("gde-granule.jpg")
          img.img-responsive alt="" src=image_url("gde-granule.jpg")
      /.col-lg-3.text-center
        img.pic-magnet alt="" src=image_url("magnetka-cervena.png")
        a.magnific-popup-image title="Malé baby na oslave." href=image_url("baby.jpg")
          img.img-responsive.crooked-1 alt="" src=image_url("baby.jpg")
      /.col-lg-4.text-center
        img.pic-magnet alt="" src=image_url("magnetka-modra.png")
        a.magnific-popup-image title="Také bežné spanie v teple..." href=image_url("teplo.jpg")
          img.img-responsive.crooked-2 alt="" src=image_url("teplo.jpg")

