section#info
  .container
    .row
      .col-lg-5.align-left
        h2 Montessori pedagogika
        .quote-msg
          strong „Pomôž mi, aby som to dokázal sám...“
          br
        .quote-author
          strong Maria Montessori
        br
        br
        | Montessori pedagogika je komplexná a vzdelávanie od výchovy neoddeľuje.
        br
        | Celá metóda, či skôr filozofia montessori pedagogiky je postavená na pozorovaní dieťaťa a jeho individuálnych potrieb. Vhodne  pripravené prostredie (nábytok, pomôcky, prehľadnosť, zmysluplné aktivity) a pripravený učiteľ umožňujú, aby sa dieťa mohlo slobodne pohybovať a voliť si činnosti. Vtedy do nich vkladá vlastnú vôľu a zaoberá sa nimi intenzívnejšie. Takto nadobudnutá vedomosť či zručnosť je kvalitnejšia. Deti sú v podnetnom prostredí schopné koncentrovať sa na činnosť, a tým dochádza k nastoleniu jeho psychickej rovnováhy, vyvoláva spontánny záujem o učenie a dieťa sa stáva samým sebou.
        br
        | Správne pripravené prostredie je v Montessori pedagogike nevyhnutné. Vďaka nemu sa dieťa správne normalizuje a vyvíja. Pracuje vlastným tempom. Pripravené prostredie vyzýva dieťa na činnosť, umožňuje mu manipulovať a skúmať nové veci, podporuje koncentráciu a sociálny vývoj dieťaťa.
      .col-lg-7.align-left
        h2 19 bodov výchovy podľa Marie Montessori...
        | 1. Deti sa učia tomu, čo ich obklopuje.
        br
        | 2. Ak je dieťa často kritizované, učí sa odsudzovať.
        br
        | 3. Ak je dieťa často chválené, učí sa hodnotiť.
        br
        | 4. Ak vída agresivitu, učí sa biť.
        br
        | 5. Ak sa zaobchádza s dieťaťom poctivo, učí sa spravodlivosti.
        br
        | 6. Ak sa dieťaťu často smejú, učí sa nesmelosti.
        br
        | 7. Ak dieťa žije s pocitom bezpečia, učí sa veriť.
        br
        | 8. Ak sa dieťaťu často nadáva, učí sa cítiť previnilo.
        br
        | 9. Ak dieťaťu často dávate za pravdu, učí sa mať k sebe dobrý vzťah.
        br
        | 10. Ak prejavujete voči dieťaťu často svoju zhovievavosť, naučí sa byť trpezlivé.
        br
        | 11. Ak budete dieťa často povzbudzovať, získa sebadôveru.
        br
        | 12. Ak žije dieťa v priateľskej atmosfére a cíti sa potrebné, naučí sa v tomto svete nachádzať lásku.
        br
        | 13. Nehovorte o dieťati škaredo či už je prítomné alebo nie.
        br
        | 14. Sústreďte sa na rozvoj toho dobrého u dieťaťa, aby mu pre to zlé nezostalo miesto.
        br
        | 15. Vždy počúvajte a odpovedajte dieťaťu, ktoré na vás hovorí.
        br
        | 16. Vážte si dieťaťa, ktoré urobilo chybu a dokáže ju hneď alebo o niečo neskôr napraviť.
        br
        | 17. Buďte pripravení pomôcť dieťaťu, ktoré hľadá a snažte sa byť neviditeľní tým deťom, ktoré už našli.
        br
        | 18. Pomáhajte dieťaťu osvojiť si to, čo si neosvojilo skôr. Pomáhajte mu a naplňte pritom okoliestarostlivosťou, tichom a láskou.
        br
        | 19. Pokiaľ jednáte s dieťaťom, dodržujte vždy tie najlepšie spôsoby– dávajte mu to najlepšie, čo je vo vás samých.