section#timetable
  .container
    .row
      .col-lg-12.text-center
        a.magnific-popup-image href=image_url("rozvrh-new.png")
          img.img-responsive.crooked-timetable alt="Rozvrh hodín" src=image_url("rozvrh-new.png")