section#actual
  .container
    .row
      .col-lg-12.slickcontainer
        .slicknav
          .prev.slick-disabled < Novšie
          .next Staršie >
      br
      .col-lg-12
        .news-posts
          - @posts.each do |post|
            = render partial: "home/post_new", locals: { post: post }
