nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header.page-scroll
      button.navbar-toggle data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.page-scroll href="#page-top" Katkina tabuľa
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        / li.hidden
          a href="#page-top"
        li
          a.page-scroll href="#about" Kto sme
        li
          a.page-scroll href="#actual" Novinky
        li
          a.page-scroll href="#timetable" Rozvrh
        li
          a.page-scroll href="#creations" Naše práce
        li
          a.page-scroll href="#info" Montesorri
header
  .container
    .intro-text
      .intro-lead-in II. ZŠ, Žiar nad Hronom
      .intro-heading Montessori 1.B
br
br
br
br

= render partial: 'section1'
= render partial: 'section2'
= render partial: 'section3'
= render partial: 'section4'
= render partial: 'section5'

= render partial: 'footer'




