br
br
- if @post.post_pictures.count == 0
- else
  /a.magnific-popup-image title=post.title href=image_url(post.post_pictures[0].picture.url)
  img.post-pic title=@post.title alt=@post.title src=image_url(@post.post_pictures[0].picture.url)
.post-body.text-center
  = @post.description
  br
  = @post.title
  br
  = @post.text
  p.readmore
    a href=home_url spat na web