#post-news
  .row
    .col-lg-4
      - if post.post_pictures.count == 0
      - else
        a.magnific-popup-image title=post.title href=image_url(post.post_pictures[0].picture.url)
          img.post-pic title=post.title alt=post.title src=image_url(post.post_pictures[0].picture.url)
    .col-lg-8
      .post-classbook-title
        = post.title
      .post-classbook-description
        = post.description
      .post-classbook-text
        = post.text
br

