- content_for :body do
  body#page-top.classbook.index

    nav.navbar.navbar-default.classbook.navbar-fixed-top
      .container
        .navbar-header.page-scroll
          button.navbar-toggle data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"
            span.sr-only Menu
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.page-scroll Triedna kniha
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a.page-scroll href=home_url Katkina tabuľa
    section
      .container
        .row
          .col-lg-12
            - @posts.each do |post|
              = render partial: "home/post_structure", locals: { post: post }
