// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.cke {
  width: 79.85% !important;
  position: initial !important;
  margin-left: 20% !important;
}

table.index_table td {
  padding: 5px 0px 0px 0px;
  text-align: center;
  vertical-align: middle;
}

table.index_table th {
  text-align: center !important;
}

.aa-text_and_name_column {
  text-align: left !important;
}

table tr td {
  vertical-align: middle;
  text-align: center;
}

caption, th, td {
  text-align: center;
}