@font-face {
  font-family: 'Conv_DJB Chalk It Up';
  src: asset-url('Chalk-It-Up.eot');
  src: local('☺'), asset-url('DJB-Chalk-It-Up.woff') format('woff'), asset-url('DJB-Chalk-It-Up.ttf') format('truetype'), asset-url('DJB-Chalk-It-Up.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

#page-top.board {
  font-family: 'Conv_DJB Chalk It Up';
  color: #FFF;
  font-size: 20px;
  background-image: asset-url('board-green.jpg');
  background-repeat: repeat;
  background-position: top center;
  //background-attachment: fixed;
}

#page-top.classbook {
  font-family: 'Conv_DJB Chalk It Up';
  color: #000;
  font-size: 20px;
  background: asset-url('') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.navbar-brand {
  font-family: "Kaushan Script";
}

.navbar-default .navbar-brand {
  font-size: 40px;
}

.navbar-default.navbar-shrink .navbar-brand {
  font-size: 30px;
}

header .intro-text .intro-heading {
  font-size: 100px;
}

header .intro-text .intro-lead-in {
  font-size: 66px;
  padding: 0 0 10px 0;
}

.navbar-default .nav li a {
  font-size: 24px;
}

.crooked-timetable {
  -webkit-transform: rotate(-0.5deg);
  -moz-transform: rotate(-0.5deg);
  -o-transform: rotate(-0.5deg);
}

.crooked-1 {
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
}

.crooked-2 {
  -webkit-transform: rotate(+7deg);
  -moz-transform: rotate(+7deg);
  -o-transform: rotate(+7deg);
}

.crooked-content1 {
  -webkit-transform: rotate(-0.7deg);
  -moz-transform: rotate(-0.7deg);
  -o-transform: rotate(-0.7deg);
}

.crooked-content2 {
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
}

.pic-magnet {
  width: 60px;
  position: absolute;
  margin-top: 20px;
  margin-left: -20px;
  z-index: 1;
  box-shadow: 1px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 2px rgba(0,0,0,0.5);
  -webkit-box-shadow: 1px 2px rgba(0,0,0,0.5);
  -o-box-shadow: 1px 2px rgba(0,0,0,0.5);
  border-radius:100px;
}

#post {
  outline: none;
  position: relative;
}

.post-body {
  padding: 10px;
}

.post-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  border: 3px solid white;
  cursor: e-resize ;
  border-radius: 3px;
}

.post-date {
  position: absolute;
  color: #000;
  background: #FFF;
  padding: 0 10px 0 10px;
  left: 0;
  top: 207px;
  font-size: 30px;
  border-radius: 3px;
}

.post-title {
  font-size: 25px;
  text-transform: uppercase;
  color: #fed136;
}

.post-description {
  font-size: 25px;
}

.post-text {
  font-size: 20px;
}

.classbook-all {
  float: right;
}

.post-classbook-title {
  font-size: 30px;
}

.post-classbook-description {

}

.post-classbook-text {

}

.margin-left-30 {
  margin-left: -30px;
}

.classroom {
   list-style-type: none;
}

.classroom li {
   font-size: 27px;
}

.align-left {
  text-align: left;
}

.list-style-none {
  list-style-type: none;
}

.quote-msg {
  color: #fed136;
  font-style: italic;
  font-size: 25px;
}

.quote-author {
  float: right;
}

.prev {
  padding: 10px;
  float: left;
  margin: 0 15px;
  cursor: pointer;
}

.next {
  padding: 10px;
  float: left;
  cursor: pointer;
}

.next:hover, .prev:hover {
  color: #fed136;
}

.slick-disabled {
  opacity: 0.2;
  cursor: default !important;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.slick-disabled:hover {
  color: #FFF !important;
}

.slick-slide {
  margin: 0 5px;
}

.slicknav {
  width: auto;
  display: inline-block;
}

.slickcontainer {
  text-align: center;
}

/*
.nav li:nth-child(2):hover {
  color: green !important;
}
*/