doctype html
html
  head
    title School
    meta charset="utf-8"
    meta name="description" content="school"
    meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"
    link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags



  - if content_for? :body
    = yield :body
  - else
    body#page-top.board.index
      = yield